@using KCSG.Core.CustomControls
@model KCSG.Web.Areas.EnvironmentManagement.ViewModels.ChartModel
<div class="panel panel-danger">
    <div class="panel panel-body">
        <div class="row form-group">
            <div class="col-lg-9">
                <canvas id="@Model.ChartName" width="400" height="200"></canvas>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel panel-body">
                        <div class="row form-group">
                            <div class="col-lg-4">@Html.ExtLabelFor(m => m.High)</div>
                            <div class="col-lg-8">
                                @Html.ExtTextBoxFor(m => m.High, new {@readonly = true})
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">@Html.ExtLabelFor(m => m.Low)</div>
                            <div class="col-lg-8">
                                @Html.ExtTextBoxFor(m => m.Low, new {@readonly = true})
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-lg-4">@Html.ExtLabelFor(m => m.Range)</div>
                            <div class="col-lg-8">
                                @Html.ExtTextBoxFor(m => m.Range, new {@readonly = true})
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">@Html.ExtLabelFor(m => m.Mean)</div>
                            <div class="col-lg-8">
                                @Html.ExtTextBoxFor(m => m.Mean, new {@readonly = true})
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-lg-4">@Html.ExtLabelFor(m => m.Sigma)</div>
                            <div class="col-lg-8">
                                @Html.ExtTextBoxFor(m => m.Sigma, new {@readonly = true})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>